# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
lib64/
bin/
include/
share/

# Build files
build/
dist/
*.egg-info/
*.egg

# Compiled files
*.pyc
*.pyo

# Miscellaneous
.DS_Store